openapi: 3.2.0
info:
  title: UTokyo Academic Assets Archives Portal Items API
  version: '2026-08-19'
  summary: Search, item-representation and IIIF interfaces of the University of Tokyo Academic Assets Archives Portal (東京大学学術資産等アーカイブズポータル).
  description: 'The Academic Assets Archives Portal is operated by the University of Tokyo Library System on

    the university''s own hosts. It is the one surface in this profile where the university

    publishes actual API documentation — at https://da.dl.itc.u-tokyo.ac.jp/portal/help/api, in

    Japanese only. The English help page at /portal/en/help/api carries a single line, "Only

    available in Japanese", and links across. A profile built from the English surface alone

    finds nothing here; that is why this entry exists.


    The documented page names two APIs — a search API described as OpenSearch, and a harvesting

    API described as OAI-PMH (covered separately in

    openapi/university-of-tokyo-oai-pmh-openapi.yml). Alongside them the portal serves item

    representations in JSON-LD, CSV and refer/BibIX through a `_format` query parameter, and

    IIIF Presentation and Image endpoints.


    **The documented search API is not callable from outside.** Every request to

    `/portal/search`, with and without a browser User-Agent, and from two independent network

    paths, returned HTTP 403 from Apache/2.4.58. The interface is documented and the portal''s own

    navigation links to it, but automated access is blocked at the edge. That is recorded here as

    an observed fact about the deployment, not as a claim that the API does not exist.


    Metadata follows DC-NDL (国立国会図書館ダブリンコアメタデータ記述), the National Diet Library

    Dublin Core profile, which the portal names as its base form. Only material for which reuse

    permission was obtained is exposed through the APIs.

    '
  contact:
    name: University of Tokyo Library System — Archives Portal
    email: jitsumu_arch@lib.u-tokyo.ac.jp
    url: https://da.dl.itc.u-tokyo.ac.jp/portal/en/contact
  license:
    name: Reuse conditions of the General Library, The University of Tokyo
    url: https://www.lib.u-tokyo.ac.jp/ja/library/general/reuse
servers:
- url: https://da.dl.itc.u-tokyo.ac.jp/portal
  description: Archives Portal. Institution-operated.
- url: https://iiif.dl.itc.u-tokyo.ac.jp
  description: IIIF Image API server. Institution-operated.
tags:
- name: items
  description: Item representations in JSON-LD, CSV and refer/BibIX.
paths:
  /assets/{assetId}:
    get:
      operationId: getAsset
      summary: Retrieve one archival item
      description: Returns the item detail page, or a machine-readable representation when `_format` is given. All three machine formats returned HTTP 200 on probe. The JSON form is JSON-LD (`application/ld+json`) with a DC-NDL / Dublin Core / FOAF context.
      tags:
      - items
      parameters:
      - name: assetId
        in: path
        required: true
        description: Item UUID. Also the tail of the OAI-PMH identifier for this item.
        schema:
          type: string
          format: uuid
        example: fbd0479b-dbb4-4eaa-95b8-f27e1c423e4b
      - name: _format
        in: query
        required: false
        description: '`json` returns JSON-LD (3,131 bytes on probe), `csv` returns text/csv (5,482 bytes), `bix` returns refer/BibIX as text/plain (601 bytes). Omitted returns HTML.'
        schema:
          type: string
          enum:
          - json
          - csv
          - bix
      responses:
        '200':
          description: The item.
          content:
            application/ld+json:
              schema:
                type: object
                description: DC-NDL descriptive metadata as JSON-LD. Context binds dcndl, dcterms, foaf, rdfs and dc.
              examples:
                item:
                  summary: Captured live 2026-08-19
                  externalValue: ../examples/university-of-tokyo-archives-item-jsonld.json
            text/csv:
              schema:
                type: string
            text/plain:
              schema:
                type: string
                description: refer/BibIX format.
        '404':
          description: Unknown item.
externalDocs:
  description: APIについて — the portal's own API documentation (Japanese only)
  url: https://da.dl.itc.u-tokyo.ac.jp/portal/help/api
x-operator: institution
x-operator-evidence: da.dl.itc.u-tokyo.ac.jp and iiif.dl.itc.u-tokyo.ac.jp are both under u-tokyo.ac.jp. The IIIF manifests carry attribution "東京大学総合図書館 General Library, The University of Tokyo, JAPAN", a logo on iiif.dl.itc.u-tokyo.ac.jp and a license pointing at lib.u-tokyo.ac.jp. No vendor host, title or contact is present anywhere in the surface.
x-provenance:
  generated: '2026-08-19'
  method: probed
  source:
  - https://da.dl.itc.u-tokyo.ac.jp/portal/help/api
  - https://da.dl.itc.u-tokyo.ac.jp/portal/opensearch.xml
  - https://da.dl.itc.u-tokyo.ac.jp/portal/search?kywd=tokyo
  - https://da.dl.itc.u-tokyo.ac.jp/portal/assets/fbd0479b-dbb4-4eaa-95b8-f27e1c423e4b?_format=json
  - https://da.dl.itc.u-tokyo.ac.jp/portal/repo/iiif/fbd0479b-dbb4-4eaa-95b8-f27e1c423e4b/manifest
  - https://iiif.dl.itc.u-tokyo.ac.jp/iiif/2/seishu%2FA00_5995%2F001%2FA00_5995_001_0001.tif/info.json
  note: Parameters and formats transcribed from the university's own Japanese documentation page, then probed live. Where documentation and observed behaviour disagree, both are recorded.
