openapi: 3.2.0
info:
  title: UTokyo Academic Assets Archives Portal Search API
  version: '2026-08-19'
  summary: Search, item-representation and IIIF interfaces of the University of Tokyo Academic Assets Archives Portal (東京大学学術資産等アーカイブズポータル).
  description: 'The Academic Assets Archives Portal is operated by the University of Tokyo Library System on

    the university''s own hosts.'
  contact:
    name: University of Tokyo Library System — Archives Portal
    email: jitsumu_arch@lib.u-tokyo.ac.jp
    url: https://da.dl.itc.u-tokyo.ac.jp/portal/en/contact
  license:
    name: Reuse conditions of the General Library, The University of Tokyo
    url: https://www.lib.u-tokyo.ac.jp/ja/library/general/reuse
servers:
- url: https://da.dl.itc.u-tokyo.ac.jp/portal
  description: Archives Portal. Institution-operated.
- url: https://iiif.dl.itc.u-tokyo.ac.jp
  description: IIIF Image API server. Institution-operated.
tags:
- name: Search
  description: OpenSearch-described search over the portal.
paths:
  /opensearch.xml:
    get:
      operationId: getOpenSearchDescription
      summary: OpenSearch description document
      description: An OpenSearch 1.1 description document declaring the portal's search template `https://da.dl.itc.u-tokyo.ac.jp/portal/search?kywd={searchTerms}`. Publicly reachable (HTTP 200) even though the endpoint it describes is not.
      tags:
      - Search
      responses:
        '200':
          description: OpenSearch 1.1 description.
          content:
            application/opensearchdescription+xml:
              schema:
                type: string
              examples:
                description:
                  summary: Captured live 2026-08-19
                  externalValue: ../examples/university-of-tokyo-archives-opensearch-description.xml
  /search:
    get:
      operationId: searchAssets
      summary: Search the portal (documented; blocked to external automated clients)
      description: Documented by the university as the 検索用API. Every probe returned HTTP 403 Forbidden from Apache/2.4.58 — with a Chrome User-Agent, without one, with and without parameters, and from two independent network paths. Parameters below are transcribed from the university's documentation, not confirmed by response.
      tags:
      - Search
      parameters:
      - name: kywd
        in: query
        required: false
        description: Free-text keyword, per the OpenSearch template.
        schema:
          type: string
      - name: items_per_page
        in: query
        required: false
        description: One of 20, 50, 100, 200. Maximum 200, and 200 is also the default when omitted. Out-of-enum values are coerced downward to the nearest allowed band.
        schema:
          type: integer
          enum:
          - 20
          - 50
          - 100
          - 200
          default: 200
      - name: page
        in: query
        required: false
        description: Page number, computed as total hits divided by items_per_page.
        schema:
          type: integer
      - name: collection
        in: query
        required: false
        schema:
          type: string
      - name: title
        in: query
        required: false
        description: Restrict to a material title (資料名).
        schema:
          type: string
      - name: author
        in: query
        required: false
        schema:
          type: string
      - name: publisher
        in: query
        required: false
        schema:
          type: string
      - name: DOI
        in: query
        required: false
        schema:
          type: string
      - name: sort_by
        in: query
        required: false
        schema:
          type: string
          enum:
          - search_api_relevance
          - field_title
          - field_title_1
          - field_year_facet
          - field_year_facet_1
      - name: _format
        in: query
        required: false
        description: Response format. HTML when omitted.
        schema:
          type: string
          enum:
          - csv
          - json
          - bix
      responses:
        '200':
          description: Documented result set. Not observed — see 403.
        '403':
          description: What this endpoint actually returned on every probe on 2026-08-19. Apache-level block, 289-byte HTML body, content-type text/html; charset=iso-8859-1.
          content:
            text/html:
              schema:
                type: string
externalDocs:
  description: APIについて — the portal's own API documentation (Japanese only)
  url: https://da.dl.itc.u-tokyo.ac.jp/portal/help/api
x-operator: institution
x-operator-evidence: da.dl.itc.u-tokyo.ac.jp and iiif.dl.itc.u-tokyo.ac.jp are both under u-tokyo.ac.jp. The IIIF manifests carry attribution "東京大学総合図書館 General Library, The University of Tokyo, JAPAN", a logo on iiif.dl.itc.u-tokyo.ac.jp and a license pointing at lib.u-tokyo.ac.jp. No vendor host, title or contact is present anywhere in the surface.
x-provenance:
  generated: '2026-08-19'
  method: probed
  source:
  - https://da.dl.itc.u-tokyo.ac.jp/portal/help/api
  - https://da.dl.itc.u-tokyo.ac.jp/portal/opensearch.xml
  - https://da.dl.itc.u-tokyo.ac.jp/portal/search?kywd=tokyo
  - https://da.dl.itc.u-tokyo.ac.jp/portal/assets/fbd0479b-dbb4-4eaa-95b8-f27e1c423e4b?_format=json
  - https://da.dl.itc.u-tokyo.ac.jp/portal/repo/iiif/fbd0479b-dbb4-4eaa-95b8-f27e1c423e4b/manifest
  - https://iiif.dl.itc.u-tokyo.ac.jp/iiif/2/seishu%2FA00_5995%2F001%2FA00_5995_001_0001.tif/info.json
  note: Parameters and formats transcribed from the university's own Japanese documentation page, then probed live. Where documentation and observed behaviour disagree, both are recorded.
